.aboutWrapper {
    padding: 10px 100px;
    border-top: 2px solid #000000;
}

.aboutWrapper p {
    text-align: left;
}

.titleText {
    background-color: #000000;
    color: #ffffff;
    margin: 0px;
    padding: 30px;
}

.aboutWrapper strong {
    font-weight: 700s;
}